html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 20px;
  background-color: #e0c2ff;
}

.text-div {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  margin: 0px 0px 0px 0px;
}

.lm-20 {
  margin-left: 20px;
}

